
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bulma/bulma.sass';

@import "~font-awesome/scss/font-awesome.scss";

@import "~bulma-carousel/dist/bulma-carousel.sass";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
